<!-- Header -->
<link rel="stylesheet" href="/static/header.css">
<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <img src="/static/mqdefault.jpg" alt="Minion" class="header-icon">
      <div>
        <h1 class="header-title">Veranito</h1>
        <p class="header-subtitle">Seba chupame la pija</p>
      </div>
    </div>
    <nav class="header-nav">
      <a href="#" class="header-link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M13 5v6h6" /></svg>Inicio</a>
      <!-- icono de fotos-->
      <a href="#" class="header-link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>Fotos</a>
      <a href="#" class="header-link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A2 2 0 0020 6.382V5a2 2 0 00-2-2H6a2 2 0 00-2 2v1.382a2 2 0 00.447 1.342L9 10m6 0v10m0 0a2 2 0 01-2 2H7a2 2 0 01-2-2V10m11 10a2 2 0 002-2V10m-2 10V10" /></svg>Galería</a>
      <!-- icono de campeones-->
      <a href="#" class="header-link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" /></svg>Campeones</a>
      <!-- icono de abrazo-->
      <a href="#" class="header-link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" /></svg>Wholesome Moments</a>
    </nav>
  </div>
</header> 