<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Veranito</title>
</head>
<body class="bg-gray-900 text-white p-4">
  <h1 class="text-2xl font-bold mb-4">¿Te garcho?</h1>

  <!-- Galería -->
  <div id="gallery" class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {{ range . }}
      <img src="{{ . }}" class="w-full h-auto rounded shadow" />
    {{ else }}
      <p class="col-span-full text-center text-gray-500">No hay imágenes todavía</p>
    {{ end }}
  </div>
</body>
</html>
